
<div class="new_post_form">
<%= form_for(@post) do |f| %>
	<h3>New post</h3>

	<div class="new_post_title">
		<%= f.text_field :title, placeholder: 'Title' %>
	</div>

	<div class="new_post_tag">
		<%= f.text_field :tags, placeholder: 'Tags', value: ''%>
	</div>
	
	<div class="markdown_show_mode go_right">
			<%= link_to 'edit ', '#', class: "edit active"%>
			<%= link_to 'preview', '#', class: "preview"%>	
	</div>
	<div class="new_post_content">
		<%= f.text_area :content, placeholder: 'Content ...' %>
	</div>

	<div class="post_markdown_preview"></div> 

	<div class="new_post_publish_button">
		<%= f.submit "Publish" ,class: "btn btn-primary" %>
	</div>
	<div class="new_post_cancel_button">
		<%= link_to "Cancel", root_path, class:"btn" %>
	</div>
			
<% end %>

</div>